body {
	padding: 45px;
}

h1 {
	text-transform: uppercase;
}

.light {
	background-color: rgb(242, 246, 250);
	color: #000;
}

.dark {
	background-color: #333;
	color: #fff;
}

label:last-of-type {
	margin-left: 10px;
}
