.success{
    border: 1px solid darkgreen;
    background-color: lightgreen;
    color: darkgreen;
}
.error{
    border: 1px solid darkred;
    background-color: rgb(224, 115, 115);
    color: darkred;
}
.warning{
    border: 1px solid darkgoldenrod;
    background-color: lightyellow;
    color: darkgoldenrod;
}